@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
:root{
    --border:rgb(255, 156, 8);
}
body{
   background-image: url(../images/blog-background.jpg);
   background-size: cover;
    font-family: var(--family);
}
.create_todo{
    display: grid;
    place-items: center;
}
.create_todo p{
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    color:white;
    font-size: 2em;
    font-weight: 700;
    background-color: orange;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px red,2px 2px 0px blue,4px 4px 2px rgb(255, 187, 0);
}
h1{
    text-align: center;
    padding: 3px;
    text-transform: uppercase;
}
form{
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    background-image: linear-gradient(to bottom right,orangered, black);
    margin-top: 50px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}
.container>*{
    display: block;
    padding: 5px;
    width: 100%;
}
.container input{
    border: 1.5px outset var(--border);
    padding: 10px; 
    border-radius: 3px;
}
.container label{
    text-transform: capitalize;
    color: black;
    font-weight: 800;
}
.container select{
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1.5px outset var(--border);
}
.publish{
    margin: 10px 0;
}
textarea{
    height: 250px;
    border-radius: 5px;
    border: 1.5px outset var(--border);
}

button   {
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #f9f2b2;
    opacity: 0.7;
    border: 1px outset gray;
    color: rgb(37, 37, 37);
    padding: 5px 5px;
    text-align: center;
    font-size: 1.2em;
    transition: 0.3s;
    cursor: pointer;
  }
  
button:hover {
    letter-spacing: 1px;
    opacity: 1;
    background-color: #c7e7ac; 
    color: rgb(255, 255, 255);
}

/*validation error message*/
.error{
    background-color: rgba(248, 197, 197, 0.708);
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
.container .error span{
    font-size: 1.25em;
    padding: 5px;
    color:red;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
}
a{
    text-decoration: none;
    border-radius: 5px;
    background-color: #ff6600;
    opacity: 1;
    border: 2px outset rgb(250, 136, 6);
    color: rgb(255, 253, 253);
    padding: 5px 5px;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s;
    cursor: pointer;
}
a:hover{
    letter-spacing: 2px;
    background-color: #0000009f; 
    color: rgb(255, 255, 255);  
}